<h2> Add a New Room </h2>

<form method="post" action="/rooms">
  <label for="room-name-input"> Room Name </label>
  <input id="room-name-input" type="text" name="roomName"
    placeholder="My Awesome Space Room">
  <br>

  <label for="room-desc-input"> Description </label>
  <textarea id="room-desc-input" name="roomDescription"
    placeholder="It's a beautiful room in Space!"></textarea>
  <br>

  <button> Save Room </button>
</form>
